{{ define "main" }}

{{if (gt (len .Content) 0)}}
	<h1 class="center_text">{{ .Title }}</h1>
	
	<div class="center_text">
		{{ .Content }}
	</div>
{{ end }}

{{ partial "elections.html" . }}

{{ end }}