@import url("base.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.open_table {
	border-collapse: collapse;
	width: 100%;
	outline: none;
	border: 0px;
  }
  
  th, .open_day {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
	background-color: var(--primary-dark);
	color: white;
  }

  .opening_hours_label{
	text-align: center;
  }

  .center{
	display: block;
  	margin-left: auto;
	margin-right: auto;
}

.center_text{
    padding: 0 20%;
    margin-bottom: 1.75rem;
    text-align: center;
}

.bottom_seperator{
	border-bottom: 2px solid lightgrey;
	width: 80%;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

h1{
	font-family: "Rubik";
}

h2{
	font-family: "Rubik";
}

h3{
	font-family: "Rubik";
}

h4{
	font-family: "Rubik";
}

h5{
	font-family: "Rubik";
}

p{
	font-family: 'Open Sans', sans-serif;
}

label{
	font-family: 'Open Sans', sans-serif;
}