{{ partial "councilseperator.html" . }}

<br />
<h2 style="text-align: center;">
	Current Sitting Council Members.
</h2>
<h3 style="text-align: center;">
	(Random Order)
</h3>

{{ $items := (where $.Site.RegularPages "Type" "councilmember") }}
{{ $len := (len $items) }}

{{ range $i, $e := $items }}
{{ partial "codammember.html" . }}

{{ if ne (add $i 1) $len }}

{{ partial "councilseperator.html" . }}

{{ end }}
{{ end}}