<h1 style="text-align: center;">
	Council Candidates.
</h1>
<h3 style="text-align: center;">
	(Random Order)
</h3>

{{ $items := (where $.Site.RegularPages "Type" "candidate") }}
{{ $len := (len $items) }}

{{ range $i, $e := $items }}
{{ partial "candidate.html" . }}

{{ if ne (add $i 1) $len }}

{{ partial "councilseperator.html" . }}

{{ end }}
{{ end }}