<header class="header {{ if $.Site.Params.languageSwitcher.show }} has-LangNav{{ end }}">
    <div class="header__title">
        <a href="{{ "/" | relLangURL }}" class="header__title__link" alt="Home" style="font-family: Rubik;">
            {{ if $.Site.Params.logo }}
            <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="header__title__logo" alt="{{ $.Site.Title }}">
            {{ else }}
            {{ $.Site.Title }}
            {{ end }}
        </a>
    </div>

    {{ partial "menu.html" . }}
    {{ partial "hamburger-menu.html" . }}
    {{ if $.Site.Params.languageSwitcher.show }}
    {{ partial "language-switcher.html" . }}
    {{ end }}
</header>
