<main class="hero" {{ if $.Params.images }}
    style="background-image: url('{{ $.Site.BaseURL }}images/{{ print (index $.Params.images 0) }}');background-size: 50%;" {{ end }}>
    <div class="hero__caption" {{ if $.Site.Params.hero.textColor }} style="color: {{ $.Site.Params.hero.textColor }};"
        {{ end }}>
        {{ .Content }}
        {{ if $.Site.Params.cta.show }}
        {{ partial "cta-btn.html" . }}
        {{ end }}
    </div>
</main>