{{ define "main" }}

{{if (gt (len .Content) 0)}}
	<h1 class="center_text">{{ .Title }}</h1>
	
	<div class="post__body">
        {{ .Content }}
    </div>
{{ end }}

{{ partial "codammembers.html" . }}

{{ end }}