<div class="center">
	<img src="{{ $.Site.BaseURL }}{{ print (.Get "src") }}" class="center" style="width: {{.Get "width"}}px; height: {{.Get "height"}}px;"></img>
	<br />
	<br />
</div>
<br />
<bt />