{{ define "main" }}
<main class="contact">

    {{if (gt (len .Content) 0)}}

    <h1 class="contact__title">{{ .Title }}</h1>

    <div class="center">
        <p>
            {{ .Content }}
        </p>
    </div>

    {{end}}

    <div>
        <div>
            
        </div>
        <h2 class="center_text"> Walk in Hours</h2>
        <table class="open_table" cellspacing="0" cellpadding="0">
            <tr><th>Days</th><th>Hours</th></tr>
            <tr><td class="open_day">Monday</td><td class="open_hours">{{$.Site.Params.Open.Monday.Hours}}</td></tr>
            <tr><td class="open_day">Tuesday</td><td class="open_hours">{{$.Site.Params.Open.Tuesday.Hours}}</td></tr>
            <tr><td class="open_day">Wednesday</td><td class="open_hours">{{$.Site.Params.Open.Wednesday.Hours}}</td></tr>
            <tr><td class="open_day">Thursday</td><td class="open_hours">{{$.Site.Params.Open.Thursday.Hours}}</td></tr>
            <tr><td class="open_day">Friday</td><td class="open_hours">{{$.Site.Params.Open.Friday.Hours}}</td></tr>
            <tr><td class="open_day">Saturday</td><td class="open_hours">{{$.Site.Params.Open.Saturday.Hours}}</td></tr>
            <tr><td class="open_day">Sunday</td><td class="open_hours">{{$.Site.Params.Open.Sunday.Hours}}</td></tr>
        </table> 
    </div>

    <br />

<!--
    {{ if $.Site.Params.form.netlify }}
    <form name="contact" method="POST" data-netlify="true" class="contact__form" id="contactForm">
        {{ else }}
        <form action="{{ $.Site.Params.form.action }}" method="{{ lower $.Site.Params.form.method }}" class="contact__form"
            id="contactForm">
            {{ end }}

            Description
            <div class="contact__field contact__field--pretext" >
                <h3 class="">{{ .Description }}</h3> 
            </div>

            Name
            <div class="contact__field contact__field--name">
                <label for="{{ $.Site.Params.form.inputNameName }}">{{ $.Site.Params.form.inputNameLabel }}</label>
                <input type="text" name="{{ $.Site.Params.form.inputNameName }}" placeholder="{{ $.Site.Params.form.inputNamePlaceholder }}"
                    class="contact__form__input contact__form__name" id="{{ $.Site.Params.form.inputNameName }}"
                    aria-labelledby="{{ $.Site.Params.form.inputNameName }}" required>
            </div>

            Email
            <div class="contact__field contact__field--email">
                <label for="{{ $.Site.Params.form.inputEmailName }}">{{ $.Site.Params.form.inputEmailLabel }}</label>
                <input type="email" name="{{ $.Site.Params.form.inputEmailName }}" placeholder="{{ $.Site.Params.form.inputEmailPlaceholder }}"
                    class="contact__form__input contact__form__email" id="{{ $.Site.Params.form.inputEmailName }}"
                    aria-labelledby="{{ $.Site.Params.form.InputEmailName }}" required>
            </div>

            Message
            <div class="contact__field contact__field--msg">
                <label for="{{ $.Site.Params.form.inputMsgName }}">{{ $.Site.Params.form.inputMsgLabel }}</label>
                <textarea name="{{ $.Site.Params.form.inputMsgName }}" id="{{ $.Site.Params.form.inputMsgName }}" form="contactForm"
                    maxlength="{{ $.Site.Params.form.inputMsgLength }}" id="{{ $.Site.Params.form.inputMsgName }}"
                    arial-labelledby="{{ $.Site.Params.form.InputMsgName }}" required></textarea>
            </div>

            Submit
            <div class="contact__field contact__field--submit">
                <button type="submit" class="ripple-btn submit" onclick="cleanForm" aria-label="{{ $.Site.Params.form.inputSubmitValue }}">
                    {{ $.Site.Params.form.inputSubmitValue }}
                </button>
            </div>

        </form>
-->
    {{ partial "councilseperator.html" . }}
    <h2>
        Attend a Student Council Meeting
    </h2>
    <div class="typeform-widget" data-url="https://form.typeform.com/to/YfiIlNDj?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    {{ partial "councilseperator.html" . }}
    <h2>
        Student Remarks
    </h2>
    <div class="typeform-widget" data-url="https://form.typeform.com/to/sm6KkReX?typeform-medium=embed-snippet" style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</main>
{{ end }}